<% layout("/layouts/boilerplate") %>


    <h1>About Qt Citation Program</h1>
    <div class="row justify-content-center align-items-center my-3">
        <div class="col-12">
            <div class="row justify-content-center align-items-center my-3">
                <div class="col-xl-6 col-12 order-1 order-xl-1 d-xl-inline d-block text-center my-4">
                    <img src="/images/home-page/app_icon.png" alt="" id="about-page-icon" class="">
                </div>
                <div class="col-xl-6 col-12 order-1  d-lg-inline d-block text-center">
                    <p class="intro-text-inner lead">
                        The main goal of Qt Citation Program is to help people with formatting citations
                        for academic
                        research and university projects, serving as an academic tool.
                        <br>
                        <br>
                        Automating a part of the citation formatting process, a repetitive and
                        time-consuming
                        procedure, this application aims to help make formatting citations easier.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center my-3">
                <div class="col-lg-4 col-sm-6 d-sm-inline d-lg-inline-block">
                    <p class="intro-text-inner lead">Qt Citation Program is developed with C++ and the Qt framework. The
                        application is
                        free & open source, licensed under the GNU GPLv3.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 d-sm-inline d-lg-inline-block">
                    <p class="intro-text-inner lead">Qt Citation Program provides citation templates for papers, books
                        and
                        in-book-chapters,
                        supporting both the Harvard and APA Citation Standards.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 d-sm-inline d-lg-inline-block">
                    <p class="intro-text-inner lead">This piece of software is meant to be a trasparent and accesible
                        solution
                        for formatting citations. All academic tools should be accessible to everyone.
                    </p>
                </div>
            </div>
            <div class="intro-inner-text d-flex justify-content-center align-items-center my-3 github">
                <a href="https://github.com/emmprokak/Qt-Citation-Program" target="_blank" rel="noopener noreferrer">
                    Check the source code out on Github <p> <svg xmlns="http://www.w3.org/2000/svg" width="48"
                            height="48" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <script>
        document.title = "Qt Citation - About"
    </script>