<% layout("/layouts/boilerplate") %>


    <% if(q==="mac" ){ %>
        <script src="/javascript/scrollToMac.js"></script>
        <% } %>

            <% if(q==="linux" ) {%>
                <script src="/javascript/scrollToLinux.js"></script>
                <% } %>
                    <!-- Windows Instructions Start -->
                    <div class="row justify-content-start">
                        <div class="col-12">
                            <h1>Downloading and Installing the application (Windows / Mac)</h1>
                            <br>
                            <h2 class="d-inline-block">Installation Instructions for Windows</h2>
                            <hr>
                            <div class="row justify-content-center align-items-center align-items-center px-3 mx-4">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 d-md-block">
                                        <a href="https://github.com/emmprokak/Qt-Citation-Program/releases/download/v1.1.1/Qt.Citation.Program.zip"
                                            class="page-link text-center">Download for Win
                                            <br class="d-md-inline d-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-windows" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.555 1.375 0 2.237v5.45h6.555V1.375zM0 13.795l6.555.933V8.313H0v5.482zm7.278-5.4.026 6.378L16 16V8.395H7.278zM16 0 7.33 1.244v6.414H16V0z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <p class="intro-text-inner lead my-3">
                                        By clicking the download button, you'll get a zip folder containing the
                                        application.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image img-fluid"
                                        src="/images/download-page/Screenshot_win_1.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        After your download finishes, open the zip file you just downloaded and extract
                                        the
                                        folder
                                        inside of it on your desktop.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-12 d-block text-center">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_2.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_3.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_4.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <p class="lead intro-text-inner mt-3">
                                        This folder includes the entire application.
                                        To use the program just open the folder and run "Qt Citation Program.exe" from
                                        inside
                                        the
                                        containing folder.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-12 d-block text-center">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_5.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_7.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        In case you get a Windows Defender warning like the one below:
                                        Click "More Info" and then the "Run anyway" button
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-12 d-block text-center">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_8.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_win_9.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        Why is this happening? Since the “.exe” file is not signed by a corporation’s
                                        digital
                                        signature
                                        (Publisher: Unknown publisher), Windows Defender deals with the file like a
                                        random executable you got from the internet. Therefore, Windows goes “Hey, I
                                        don’t
                                        know
                                        what
                                        this is, are you sure you trust it?”
                                    </p>
                                </div>
                            </div>
                            <h3 class="my-2">Should I trust it?</h3>
                            <div class="row justify-content-center mt-2">
                                <div class="col-md-10 col-12">
                                    <p class="intro-text-inner">
                                        Yes! Qt Citation Program is an open-source application. This means that
                                        program's
                                        source
                                        code
                                        (the program's inner workings) are public and accesible to everyone! You can
                                        find
                                        the
                                        entire
                                        source code of this piece of software on <a class="standard-github-link"
                                            target="_blank" rel="noopener noreferrer"
                                            href="https://github.com/emmprokak/Qt-Citation-Program">Github</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image my-1 img-fluid" id="final-win-image"
                                        src="/images/download-page/Screenshot_win_10.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center" id="scrollToMac">
                                <div class="col-lg-6 col-sm-8 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        You're done!
                                    </p>
                                </div>
                            </div>
                            <!-- Windows Instructions End -->
                            <!-- Mac Instructions Start -->
                            <br>
                            <h2 class="mt-3 mb-2">Installation Instructions for Mac</h2>
                            <hr>
                            <div class="row justify-content-center align-items-center align-items-center px-3 mx-4">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 d-md-block">
                                        <a href="https://github.com/emmprokak/Qt-Citation-Program/releases/download/v1.1.1/Qt.Citation.Program.zip"
                                            class="page-link text-center">Download for Mac
                                            <br class="d-md-inline d-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                                                <path
                                                    d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z" />
                                                <path
                                                    d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <p class="intro-text-inner lead mt-3">
                                        By clicking the download button, you'll get a dmg file containing the
                                        application.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image my-1 img-fluid" id="mac-small"
                                        src="/images/download-page/Screenshot_mac_1.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        After your download finishes, open the dmg file you downloaded and inside you'll
                                        find
                                        the
                                        application
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image my-1 img-fluid" id="mac-open-dmg"
                                        src="/images/download-page/Screenshot_mac_2.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        Open a new Finder window and navigate to the "Applications" folder. Then drag
                                        and
                                        drop
                                        "Qt
                                        Citation Program" from the dmg you have downloaded to the "Applications folder"
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-12 d-block text-center">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_mac_3.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_mac_4.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        Then, drag and drop the "Qt Citation Program" app from your "Applications"
                                        folder on
                                        your
                                        dock.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image my-1 img-fluid"
                                        src="/images/download-page/Screenshot_mac_5.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3">
                                        If the application gets blocked from running because it's not from an identified
                                        developer:
                                        Go to System Preferences > Security & Privacy, and click "Open Anyway".
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-12 d-block text-center">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_mac_6.png" alt="">
                                    <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                        src="/images/download-page/Screenshot_mac_7.png" alt="">
                                </div>
                            </div>
                            <h3 class="my-4">Should I trust the app?</h3>
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-12">
                                    <p class="intro-text-inner mt-1">
                                        Yes! Qt Citation Program is an open-source application. This means that
                                        program's
                                        source
                                        code
                                        (the program's inner workings) are public and accesible to everyone! You can
                                        find
                                        the
                                        entire
                                        source code of this piece of software on <a class="standard-github-link"
                                            target="_blank" rel="noopener noreferrer"
                                            href="https://github.com/emmprokak/Qt-Citation-Program">Github</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-center my-2 align-items-center">
                                <div class="col-lg-10 col-sm-12 d-block text-center">
                                    <img class="download-page-image my-1 img-fluid"
                                        src="/images/download-page/Screenshot_mac_8.png" alt="">
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2 align-items-center">
                                <div class="col-lg-6 col-sm-8 d-sm-inline d-lg-inline-block">
                                    <p class="lead intro-text-inner mt-3" id="scrollToLinux">
                                        You're done!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mac Instructions End -->
                    <!-- Linux Intructions Start -->
                    <br>
                    <h2 class="mt-3 mb-2">Installation Instructions for Linux</h2>
                    <hr>
                    <div class="row justify-content-center align-items-center align-items-center px-3 mx-4">
                        <div class="row justify-content-center">
                            <div class="col-md-6 d-md-block">
                                <a href="https://github.com/emmprokak/Qt-Citation-Program/releases/download/v1.1.1/Qt-Citation-Program.AppImage"
                                    class="page-link text-center">
                                    Download AppImage for Linux
                                </a>
                            </div>
                            <p class="intro-text-inner lead mt-3">
                                By clicking the download button, you'll get an AppImage file containing the application.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-12 d-block text-center">
                            <img class="download-page-image my-1 d-lg-inline-block d-inline img-fluid"
                                src="/images/download-page/Screenshot_linux_1.png" alt="">
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                            <p class="lead intro-text-inner mt-3">
                                From your terminal, navigate to your "Downloads" folder and run "chmod 755
                                QtCitationProgram" in order to
                                make
                                the
                                AppImage file executable
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-12 d-block text-center">
                            <img class="download-page-image-linux my-1 d-lg-inline-block d-inline img-fluid "
                                src="/images/download-page/Screenshot_linux_2.png" alt="" id="terminal-command">
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-lg-10 col-sm-12 d-sm-inline d-lg-inline-block">
                            <p class="lead intro-text-inner mt-3">
                                Now, you can launch the application by double clicking the AppImage file from your file
                                manager or by running
                                "./Qt-Citation-Program.AppImage"
                                from
                                the
                                terminal
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-12 d-block text-center">
                            <img class="download-page-image-linux my-1 d-lg-inline-block d-inline img-fluid"
                                src="/images/download-page/Screenshot_linux_3.png" alt="">
                        </div>
                    </div>
                    <div class="row justify-content-center my-2 align-items-center">
                        <div class="col-12 d-block text-center">
                            <img class="download-page-image-linux my-1 d-lg-inline-block d-inline img-fluid"
                                src="/images/download-page/Screenshot_linux_4.png" alt="" id="final-linux-image">
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2 align-items-center">
                        <div class="col-lg-6 col-sm-8 d-sm-inline d-lg-inline-block">
                            <p class="lead intro-text-inner mt-3" id="scrollToLinux">
                                You're done!
                            </p>
                        </div>
                    </div>



                    <script>
                        document.title = "Qt Citation - Download"
                    </script>