<% layout("/layouts/boilerplate") %>



    <h1>How to use Qt Citation Program:</h1>
    <div class="row justify-content-center align-items-center my-3">
        <div class="col-md-10 col-12">
            <div class="row justify-content-center align-items-center my-3">
                <p class="intro-text-inner">Everything starts from <a href="/download" id="link-to-download">
                        Downloading & Installing</a>
                    the application</p>
            </div>
            <div class="row justify-content-between align-items-center my-4">
                <div class="col-xl-6 col-12 order-2 order-xl-1 d-xl-inline d-block">
                    <p class="intro-text-inner">Once you launch the program, you'll be greeted with the main menu.
                        Here
                        you can choose between the citation of a paper, a book and an in-book-chapter, with the icons
                        appearing in
                        this
                        order. If you feel unsure about what a specific button does, just hover your mouse cursor
                        over
                        it. Qt Citation Program will be happy to help!</p>
                </div>
                <div class="col-xl-6  col-12 order-2  d-xl-inline d-block text-center">
                    <img src="/images/how-to-page/Screenshot_99.png" alt="" class="about-page-image img-fluid mt-2">
                </div>
            </div>

            <div class="row justify-content-center align-items-center my-4">
                <div class="col-xl-6 col-12 order-2 order-xl-1 d-xl-inline d-block text-center">
                    <img src="/images/how-to-page/Screenshot_97.png" alt="" class="about-page-image img-fluid mt-2">
                </div>
                <div class="col-xl-6  col-12 order-1  d-lg-inline d-block text-center">
                    <p class="intro-text-inner">Towards the bottom-left of the main menu, you'll find the option of
                        toggling between the Harvard and APA citation styles, along with enabling 10 author support
                        for
                        paper citations. By default, Qt Citation Program supports up to three authors for citations.
                        This functionality can be extended for up to 10 authors for the citation of papers by
                        checking
                        the above mentioned option.</p>
                </div>
            </div>
            <div class="row justify-content-between align-items-center my-4">
                <div class="col-xl-6 col-12 order-2 order-xl-1 d-xl-inline d-block">
                    <p class="intro-text-inner">Let's say that I want to format the citation of a paper in the APA
                        Style. Firstly, I will
                        choose
                        the APA citation style (from the bottom-left of the main menu) and then click the button for
                        book citations (the middle one). A new window will
                        appear,
                        where you'll be able to enter your data.</p>
                </div>
                <div class="col-xl-6  col-12 order-2  d-xl-inline d-block text-center">
                    <img src="/images/how-to-page/Screenshot_100.png" alt="" class="about-page-image img-fluid mt-2">
                </div>
            </div>

            <div class="row justify-content-center align-items-center my-4">
                <div class="col-xl-6 col-12 order-2 order-xl-1 d-xl-inline d-block text-center">
                    <img src="/images/how-to-page/Screenshot_102.png" alt="" class="about-page-image img-fluid mt-2">
                </div>
                <div class="col-xl-6  col-12 order-1  d-lg-inline d-block text-center">
                    <p class="intro-text-inner">When filling out the textfields for the authors, make sure to follow the
                        format "lastname
                        firstname".
                        The first word you pass into the author textfield will be treated as the author's lastname,
                        while the second word will be used as his firstname (e.g. first person &rarr; First P.). In
                        case
                        you pass a single word, the result will be in all caps (e.g. imf &rarr; IMF). The proper
                        capitalization of words is handled by the program.</p>
                </div>
            </div>
            <div class="row justify-content-between align-items-center my-4">
                <div class="col-xl-6 col-12 order-2 order-xl-1 d-xl-inline d-block">
                    <p class="intro-text-inner">After all the data are filled out, you can click the "Go!" button in
                        order to format your
                        citation. Once formatted, you can click the "Copy" button to copy the resulting citation on
                        your
                        system
                        clipboard. From there, you can just paste the citation where needed. Your citation is ready!
                        You can click the "Reset" button to clear the textfields and move on to your next citation.</p>
                </div>
                <div class="col-xl-6  col-12 order-2  d-xl-inline d-block text-center">
                    <img src="/images/how-to-page/Screenshot_103.png" alt="" class="about-page-image img-fluid mt-2">

                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.title = "Qt Citation - Using the app"
    </script>